[Unit]
Description=An audio player for the Slim protocol (Logitech Media Player)
After=network.target

[Service]
PIDFile=/run/storm/storm.pid
EnvironmentFile=-@SYSCONFDIR@/default/storm
ExecStart=@BINDIR@/storm $OPTIONS
